<div class="card" style="width: 18rem;">
    <!-- Interpolation  <img src="{{storeInfo.imgUrl}}" class="card-img-top" alt="...">-->
    <img *ngIf="showImage" [src]="storeInfo.imgUrl" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
        <h1>{{storeInfo.name}}</h1>
        <ul>
            <li *ngFor="let item of storeInfo.branches">{{item}}</li>
        </ul>

    </div>
    <button type="button" class="btn btn-primary btn-lg" (click)="toggleImage()">Show or Hide Image</button>
  </div>